.file-input {
    display: none;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
  }
  
  .upload-btn {
    margin-left: 16px;
  }
  
  .progress {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 100%;
  }
  
  .cancel-upload {
    margin-left: 16px;
    cursor: pointer;
  }
  

  .image-preview {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.preview-container {
  width: 100px; 
  height: 100px; 
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
