@font-face {
  font-family: 'RubikMonoOne';
  src: url('/assets/RubikMonoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: 'RubikMonoOne', 'mont', 'Helvetica Neue', sans-serif; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'mont', 'arial', sans-serif;
}

.mat-toolbar {
  padding: 0;
}

.navbar-brand {
  font-size: 1.5rem;
}

.mat-toolbar.mat-primary {
  background-color: #cfebeb;
}

.mat-toolbar .btn {
  border-radius: 0.25rem;
}

.mat-icon {
  vertical-align: middle;
}

.footer {
  background-color: #cfebeb;
}

.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-stroked-button,
.btn-primary{
  background-color: #2b3232 !important;
  color: white !important;
  border-color: #2b3232;
}

/* General disabled button styles */
.mat-button[disabled],
.mat-flat-button[disabled],
.mat-raised-button[disabled],
.mat-stroked-button[disabled],
.btn-primary[disabled]{
    background-color: #cfebeb !important; 
    color: #2b3232 !important; 
    cursor: not-allowed;
}

