<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card">
        <img 
          [src]="getImageUrl(product.imageUrl)" 
          class="card-img-top" 
          alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">{{product.basePrice | currency: 'MKD'}}</p>
          <a href="#" class="btn btn-primary" (click)="showProductDetails(product.id)">CUSTOMIZE {{product.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
