<div class="grid ">
  <div *ngFor="let product of products">
  
    <mat-card class="product-card">
  
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
      </mat-card-header>
  
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  
      <mat-card-content>
        <p>{{product.description}}</p>
        <mat-card-subtitle>{{product.basePrice | currency: 'MKD'}}</mat-card-subtitle>
      </mat-card-content>
  
      <mat-divider></mat-divider>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="showProductDetails(product.id)">CUSTOMIZE {{product.name}}</button>
      
      </mat-card-actions>
    </mat-card>
  
  </div>
</div>

