grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px
}

.grid>div {
    padding: 1rem;
}

.btn-primary {
    background-color: #2b3232;
    color: white !important;
    border-color: #2b3232;
  }

  .card {
    background-color: #cfebeb;
    transform: scale(0.9);
  }

  .card:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease;
  }
  
  .btn-primary:hover {
    color: #1edada;
    transform: scale(0.85);
    transition: transform 0.3s ease;
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }