/* Ensure you have this CSS file or add these styles to your existing stylesheet */
.login {
    background: linear-gradient(to bottom, #cfebeb, #ffffff);
    color: #2b3232;
    height: 100vh; /* Full viewport height for proper centering */
    display: flex;
    align-items: center; 
    justify-content: center;
    font-family: 'RubikMonoOne', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form mat-form-field {
    margin-bottom: 16px; /* Space between form fields */
}

.btn-primary {
    background-color: #007bff; /* Primary button color */
    color: #ffffff; /* Button text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Button padding */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker color on hover */
}
