<app-header></app-header>

<section class="hero-section">
  <div class="hero-content">

    <div class="hero-text">
      <h1>ДОБРЕДОЈДЕ!</h1>
      <p>Креирај персонализирани стаклени плакети со твоите омилени песни!</p>
    </div>

    <div class="row align-items-center">

      <div class="col-md-6">
        <h2>НАРАЧАЈ ОНЛАЈН!</h2>
        <p>Шопингот никогаш не бил полесен, од сега можеш да купуваш на нашиот веб сајт!</p>
        <button mat-button class="btn btn-primary">ПОГЛЕДНИ ГИ СИТЕ ПРОИЗВОДИ</button>
      </div>

      <div class="col-md-6">
        <img src="assets/hand-phone.png" alt="Shop Online" class="img-fluid">
      </div>

    </div>
  </div>
</section>

<section class="product-list">
  <h2>ПРЕПОРАЧАНИ ПРОИЗВОДИ</h2>
  <app-product-list></app-product-list>
</section>

<app-footer></app-footer>
