body {
  font-family: 'RubikMonoOne', sans-serif;
}

.hero-section {
  background: linear-gradient(to bottom, #cfebeb, #ffffff);
  color: #2b3232;
  height: 70vh; 
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  font-family: 'RubikMonoOne', sans-serif;
}

.hero-content {
  padding-top: 70px;
  margin-top: 3rem;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 2rem; 
  margin: 0;
}

.hero-text p {
  font-size: 1.25rem;
  margin: 0;
}

.btn-primary:hover {
  color: #1edada;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
}

.product-list h2 {
  background: linear-gradient(to bottom, #ffffff, #cfebeb);
  text-align: center;
  padding-top: 70px;
  padding-bottom: 2%;
}

.delivery {
  background: linear-gradient(to bottom, #ffffff, #cfebeb);
  color: #2b3232;
  height: 70vh; 
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  font-family: 'RubikMonoOne', sans-serif;
}

.delivery img {
  max-width: 60%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-section {
    height: auto; 
    padding: 2rem 1rem;
    background: linear-gradient(to bottom, #cfebeb, #ffffff);
    color: #2b3232;
    display: block; 
  }

  .hero-content {
    margin-top: 0;
    padding-top: 1rem;
    text-align: center; 
  }

  .hero-text {
    margin-bottom: 1rem; 
  }

  .hero-text h1 {
    font-size: 1.5rem;
    margin: 0; 
  }

  .hero-text p {
    font-size: 1rem; 
    margin: 0; 
  }

  .hero-content img {
    display: block; 
    margin: 1rem auto; 
    max-width: 100%; 
    height: auto;
  }

  .product-list {
    padding: 1rem; 
    margin-top: 2rem; 
  }

  .product-list h2 {
    font-size: 1.5rem; /* Adjust font size for mobile */
    text-align: center; /* Center text */
  }

  .delivery {
    padding: 1rem; /* Add padding for better spacing on mobile */
    margin-top: 1rem; /* Add margin-top for separation */
    text-align: center; /* Center text */
  }

  .delivery h2 {
    font-size: 1.25rem;
     /* Adjust font size for mobile */
  }
}
