<!-- Landing Page -->
<app-header></app-header>

<section class="hero bg-dark text-light text-center py-5">
  <div class="container">
    <h1 class="display-3 mb-3">Welcome to Glassify</h1>
    <p class="lead mb-4">Create personalized glass plaques with your favorite songs!</p>
    <button class="btn btn-primary btn-lg">Shop Now</button>
  </div>
</section>


<section class="product-recommendations">
  <h2>Recommended Products</h2>
  <app-product-list></app-product-list>
</section>

<app-footer></app-footer>
