<div class="mt-5">
    <h3 class="mb-4">Внеси ги деталите за достава</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Име и Презиме</mat-label>
                        <input matInput placeholder="ex. John Doe" [(ngModel)]="shippingDetails.fullName" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Телефонски број</mat-label>
                        <input matInput type="tel" placeholder="ex. +389 70 123 456" [(ngModel)]="shippingDetails.phoneNumber"
                            required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Адреса за достава</mat-label>
                        <input matInput placeholder="ex. 123 Main St" [(ngModel)]="shippingDetails.address" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Град</mat-label>
                        <input matInput placeholder="ex. Skopje" [(ngModel)]="shippingDetails.city" required>
                    </mat-form-field>
                </div>
            </div>
        </div>
        
    </div>
</div>