<div class="mt-5">
    <h3 class="mb-4">Внеси ги деталите за достава</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Име и Презиме</mat-label>
                        <input matInput placeholder="ex. Трајче Трајков" [(ngModel)]="shippingDetails.fullName" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Телефонски број</mat-label>
                        <input matInput type="tel" placeholder="ex. 070 123 456" [(ngModel)]="shippingDetails.phoneNumber"
                            required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Адреса за достава</mat-label>
                        <input matInput placeholder="ex. Главна Улица бр. 525" [(ngModel)]="shippingDetails.address" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Место</mat-label>
                        <mat-select [formControl]="cityCtrl" required>
                          <mat-option>
                            <input matInput placeholder="Search city" [formControl]="cityCtrl">
                          </mat-option>
                          <mat-option *ngFor="let city of filteredCities | async" [value]="city">{{ city }}</mat-option>
                        </mat-select>
                        <button mat-icon-button matSuffix (click)="clearSearch()">
                            <mat-icon>clear</mat-icon>
                          </button>
                      </mat-form-field>
                </div>
            </div>
        </div>
        
    </div>
</div>