<mat-toolbar class="bg-custom d-flex justify-content-between align-items-center">
  <a [routerLink]="'/'" class="navbar-brand">
    <img src="assets/glassify-logo.svg" alt="Glassify Logo" class="navbar-logo">
  </a>
  <div class="text-light">
    <button mat-button [routerLink]="['/']" class="btn btn-light">Home</button>
    <button mat-button [routerLink]="['/products']" class="btn btn-light">Products</button>
    <button mat-button [routerLink]="['/contact']" class="btn btn-light">Contact</button>
  </div>
</mat-toolbar>
