<mat-toolbar class="bg-custom">

  <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="d-lg-none menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon *ngIf="!mobileMenuOpen" class="cart-button d-lg-none" [routerLink]="['/cart']">shopping_cart</mat-icon>

  <a [routerLink]="'/'" class="navbar-brand centered-logo">
    <img src="assets/glassify-logo.svg" alt="Glassify Logo" class="navbar-logo">
  </a>

  <div class="nav-buttons d-none d-lg-flex">
    <button mat-button [routerLink]="['/products']" class="btn btn-light">Products</button>
    <button mat-button [routerLink]="['/contact']" class="btn btn-light">Contact</button>
    <button mat-button [routerLink]="['/cart']" class="btn btn-light" matBadge="{{ itemCount }}" matBadgeColor="accent" matBadgeOverlap="false">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>

  <mat-menu #mobileMenu="matMenu" class="mobile-menu">
    <button mat-menu-item [routerLink]="'/products'">Products</button>
    <button mat-menu-item [routerLink]="'/contact'">Contact</button>
  </mat-menu>

</mat-toolbar>